.header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0096ff;
  color: white;
  padding: 0 10%;
}

.header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.header li {
  margin: 0 1rem;
}

.header a {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
}

.header a:hover,
.header a:active {
  color: #395b64;
}

.header button {
  font-size: 1.25rem;
  background-color: #3ccf4e;
  border: 1px solid #3ccf4e;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  color: white;
}

.header button:hover,
.header button:active {
  background-color: #3ccf4e;
  border-color: #3ccf4e;
}
